---
platform: linux

image_resource: 
  type: docker-image
  source:
    repository: ubuntu
    tag: '18.04'

inputs: 
- name: blog
- name: hugo-release

outputs:
- name: blog-deployment

run: 
  path: /bin/sh
  args: ["blog/ci/scripts/build-hugo.sh"]