---
platform: linux

image_resource: 
  type: docker-image
  source:
    repository: ubuntu
    tag: '18.04'

inputs: 
- name: blog
- name: build-hugo

params:
    FTP_SERVER: 
    FTP_USERNAME: 
    FTP_PASSWORD: 

run: 
  path: /bin/sh
  args: ["blog/ci/scripts/ftp-push.sh"]